<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../../favicon.ico">
    <title>Tangless</title>
    <!-- Bootstrap core CSS -->
    <link href="../../global/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../global/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../global/css/animation.css" rel="stylesheet">
    <link href="../../global/css/common.css" rel="stylesheet">
    <link href="../../global/css/font/font.css" rel="stylesheet">
    <link href="../index.css" rel="stylesheet">

    <script src="../../global/js/jquery-3.2.1.min.js"></script>
    <script src="../../global/js/bootstrap.min.js"></script>
    <!-- 引入 G2 文件 -->
    <script src="https://a.alipayobjects.com/g/datavis/g2/2.3.6/g2.js"></script>
</head>

<body>
    <header id="header">
        <div class="nav-wrapper gradient-line">
            <div class="nav-content clearfix">
                <div class="pull-left">
                    <a href="../views/index.html" class="nav-logo">
                        <img src="https://zos.alipayobjects.com/rmsportal/aGpKpuxoGfZqJobMPLvj.svg">
                        <span class="logo-text">TangLess</span>
                    </a>
                </div>
                <div class="nav pull-right">
                    <ul id="J_nav" class="clearfix nav-list">
                        <li id="demo" class="nav-item">
                            <a class="nav-item-link" href="../index.html">项目</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../index.html">示例</a></li>
                                <li class="nav-sub-item"><a href="../index.html">API</a></li>
                                <li class="nav-sub-item"><a href="../index.html">图灵</a></li>
                            </ul>
                        </li>
                        <li id="note" class="nav-item ">
                            <a class="nav-item-link" href="../note/index.html">笔记</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../note/index.html">javascript</a></li>
                                <li class="nav-sub-item"><a href="../note/index.html">web</a></li>
                                <li class="nav-sub-item"><a href="../note/index.html">java</a></li>
                            </ul>
                        </li>
                        <li id="userCenter" class="nav-item last hover">
                            <a class="nav-item-link" href="../userCenter/index.html">个人中心</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../userCenter/index.html">介绍</a></li>
                                <li class="nav-sub-item"><a href="../userCenter/index.html">网站备案</a></li>
                                <li class="nav-sub-item"><a href="../userCenter/index.html">模板下载</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="userCenter">
        <div class="left-nav">
            <p class="title">个人中心</p>
            <ul class="left-nav-list">
                <li class="active">
                    <a href="../userCenter/index.html">介绍</a>
                </li>
                <li class="">
                    <a href="../userCenter/index.html">网站备案</a>
                </li>
                <li class="">
                    <a href="../userCenter/index.html">模板下载</a>
                </li>
            </ul>
        </div>
        <div class="right-content">
            <div class="page-0">
                <div class="resume-1">
                    <div class="user-info">
                        <img src=""/>
                        <div class="user-name text-center">Tangless</div>
                        <div class="user-target text-center"></div>

                        <div class="user-mingzhu info-list text-left"><span class="icon-user"></span>民族：汉族</div>
                        <div class="user-birth info-list text-left"><span class="icon-Tender"></span>生日：1994.04.26</div>
                        <div class="user-jiguan info-list text-left"><span class="icon-card"></span>籍贯：重庆市渝北区</div>
                        <div class="user-address info-list text-left"><span class="icon-location-pcs"></span>现居：深圳市南山区</div>
                        <div class="user-mobile info-list text-left"><span class="icon-phone06"></span>电话：18381665312</div>
                        <div class="user-email info-list text-left"><span class="icon-envelope"></span>邮箱：782817837@qq.com</div>
                    </div>
                    <div class="user-demand">
                        <div class="user-education">
                            <span class="glyphicon glyphicon-education"></span>
                            <span class="title">教育信息</span>
                            <div class="description">
                                <span class="time">2012.09.01-2016.06.30</span>
                                <span class="address"></span>
                                <span class="major"></span>
                                <span class="job"></span>
                            </div>
                        </div>
                        <div class="user-work">
                            <span class="glyphicon glyphicon-briefcase"></span>
                            <span class="title">workHistory</span>
                            <div class="description">
                                <span class="time"></span>
                                <span class="address"></span>
                                <span class="job"></span>
                            </div>
                        </div>
                        <div class="user-tech">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="title">专业技能</span>
                        </div>
                        <div class="user-tech">
                            <span class="glyphicon glyphicon-leaf"></span>
                            <span class="title">自我评价</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>