<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../favicon.ico">
    <title>Tangless</title>
    <!-- Bootstrap core CSS -->
    <link href="../global/css/bootstrap.min.css" rel="stylesheet">
    <link href="../global/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../global/css/animation.css" rel="stylesheet">
    <link href="../global/css/common.css" rel="stylesheet">
    <link href="../global/css/font/font.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">

    <script src="../global/js/jquery-3.2.1.min.js"></script>
    <script src="../global/js/bootstrap.min.js"></script>
    <!-- 引入 G2 文件 -->
    <script src="https://a.alipayobjects.com/g/datavis/g2/2.3.6/g2.js"></script>
</head>

<body>
    <header id="header">
        <div class="nav-wrapper gradient-line">
            <div class="nav-content clearfix">
                <div class="pull-left">
                    <a href="../views/index.html" class="nav-logo">
                        <img src="https://zos.alipayobjects.com/rmsportal/aGpKpuxoGfZqJobMPLvj.svg">
                        <span class="logo-text">TangLess</span>
                    </a>
                </div>
                <div class="nav pull-right">
                    <ul id="J_nav" class="clearfix nav-list">
                        <li id="demo" class="nav-item hover">
                            <a class="nav-item-link" href="../views/index.html">项目</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../views/index.html">示例</a></li>
                                <li class="nav-sub-item"><a href="../views/index.html">API</a></li>
                                <li class="nav-sub-item"><a href="../views/index.html">图灵</a></li>
                            </ul>
                        </li>
                        <li id="note" class="nav-item">
                            <a class="nav-item-link" href="../views/note/index.html">笔记</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../views/note/index.html">工作实践</a></li>
                                <li class="nav-sub-item"><a href="../views/note/index.html">学习笔记</a></li>
                                <li class="nav-sub-item"><a href="../views/note/index.html">杂记</a></li>
                            </ul>
                        </li>
                        <li id="userCenter" class="nav-item last">
                            <a class="nav-item-link" href="../views/userCenter/index.html">个人中心</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../views/userCenter/index.html">介绍</a></li>
                                <li class="nav-sub-item"><a href="../views/userCenter/index.html">网站备案</a></li>
                                <li class="nav-sub-item"><a href="../views/userCenter/index.html">模板下载</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="demo">
        <div class="left-nav">
            <p class="title">项目</p>
            <ul class="left-nav-list">
                <li class="note-menu active">
                    <a class="menu-title " href="#">示例</a>
                </li>
                <!---->
                <li class="note-menu ">
                    <div>
                        <div class="menu-title ">API<span class="icon-circle-down"></span></div>
                            <ul class="sub-list" style="display: none;">
                                <li class="">
                                    <a href="#">G2</a>
                                </li>
                                <li class="">
                                    <a href="#">Chart</a>
                                </li>
                            </ul>
                    </div>
                </li>
                <!---->
                <li class="note-menu">
                    <a class="menu-title " href="#">图灵</a>
                </li>
            </ul>
        </div>
        <div class="right-content">
            <div class="page-0 shown">0</div>
            <div class="page-1">1</div>
            <div class="page-2">
                <div class="robot">
                    <h1 class="text-center">天下事</h1>
                    <div class="content-list">
                        <div class="one-message">
                            <div class="msgfrom-info">叮铃玲玲</div>
                            <img class="user-head-icon left" src="../views/images/tuling.png">
                            <div class="msgbody">
                                <pre>说点儿什么吧</pre>
                                <i class="tl-sanjiao"></i>
                                <!--<img class="triangle" src="../views/images/triangle2.png">-->
                            </div>
                        </div>
                    </div>
                    <div class="edit text-left">
                        <input class="edit-input" placeholder="知天下事"/>
                        <button class="send">send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    var contentList = $(".content-list");
    $(".note-menu").each(function(i,o){
        var that=$(this);
        that.find('.menu-title').click(function(){
            $(".note-menu").removeClass('active');
            $("[class^='page-']").removeClass('shown');
            that.addClass('active');
            $(".page-"+i).addClass('shown');
        });
    });
    $(".send").on("click",function(){
        var msg = $(".edit-input").val();
        var url = '';
        var appkey = 'cb8d9ff9f9aa434aa85cea9a46106338';
        if(msg){
            contentList.append(pushMsg(msg,true));
            url='http://www.tuling123.com/openapi/api?key=cb8d9ff9f9aa434aa85cea9a46106338&info='+msg+'&userid=000001';
            $(".edit-input").val('');
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    var dataMsg="";
                    switch (data.code){
                        case 100000:
                        //文本
                            dataMsg=data.text;
                            break;
                        case 200000:
                        //有链接
                            dataMsg='<a target="_blank" href="'+data.url+'">'+data.text+'</a>';
                            break;
                        case 302000:
                        //新闻
                            dataMsg='<li class="news">' + '<a target="_blank" href="' + data.detailurl + '">' + data.article + '</a>' + '</li>';
                            break;
                        case 308000:
                        //菜谱
                            for(var i=0;i<data.list.length;i++){
                                dataMsg=dataMsg+'<ul class="caipu">' + '<li>菜谱: ' + data.list[i].name +'</li><li><img src="'+data.list[i].icon+'" /></li><li>材料：'+data.list[i].info+'</li><br>'+ '<a target="_blank" href="' + data.list[i].detailurl + '">' + '查看详情</a>' + '</ul><br>';
                            }
                            break;

                    }
                    contentList.append(pushMsg(dataMsg,false));
                }
            });

        }
    });
    /*拼接消息*/
    function pushMsg(msg,isSelfSend) {
        var that = this;
        var triangle, userhead;
        var onemsg = '';

        //如果自己发的消息
        if (isSelfSend) {
            userhead = '<img class="user-head-icon right" src="../views/images/tulinguser.png"/>';
            //小三角
            /*<img class="triangle" src="../views/images/triangle.png">*/
            triangle = '<i class="tr-sanjiao"></i>';

            onemsg = '<div class="one-message self-msg">' + userhead +
                '<div class="msgbody"><pre>' + msg + '</pre>' + triangle +
                '</div></div>';

        }
        //不是自己发的消息
        else {
            userhead = '<img class="user-head-icon left" src="../views/images/tuling.png"/>';
            msghead = '<div class="msgfrom-info">叮铃玲玲</span></div>';
                //小三角
            // triangle = '<img class="triangle" src="../views/images/triangle2.png">';
            triangle = '<i class="tl-sanjiao"></i>';
            
            onemsg = '<div class="one-message">' + msghead + userhead +
                '<div class="msgbody"><pre>' + msg + '</pre>' + triangle +
                '</div></div>';
        }
        //如果是图片,去掉<pre>标签
        if (onemsg.indexOf('chat-img') > 0) {
            onemsg = onemsg.replace('<pre>', '').replace('</pre>', '');
        }

        /*滚动条居底*/
        setTimeout(function () {
            var d=$('.content-list');
            var dh= d[0].scrollHeight;
            d.scrollTop(dh);
        },100)
        return onemsg;
    };
    document.onkeydown=function(event){
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if(e && e.keyCode==27){ // 按 Esc 
            //要做的事情
        }
        if(e && e.keyCode==113){ // 按 F2 
                //要做的事情
        }            
        if(e && e.keyCode==13){ // enter 键
            $(".send").click();
        }
    }; 
</script>
</html>