<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="../../../favicon.ico">
    <title>Tangless</title>
    <!-- Bootstrap core CSS -->
    <link href="../../global/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../global/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../../global/css/animation.css" rel="stylesheet">
    <link href="../../global/css/common.css" rel="stylesheet">
    <link href="../../global/css/font/font.css" rel="stylesheet">
    <link href="../index.css" rel="stylesheet">

    <script src="../../global/js/jquery-3.2.1.min.js"></script>
    <script src="../../global/js/bootstrap.min.js"></script>
    <!-- 引入 G2 文件 -->
    <script src="https://a.alipayobjects.com/g/datavis/g2/2.3.6/g2.js"></script>
</head>

<body>
    <header id="header">
        <div class="nav-wrapper gradient-line">
            <div class="nav-content clearfix">
                <div class="pull-left">
                    <a href="../views/index.html" class="nav-logo">
                        <img src="https://zos.alipayobjects.com/rmsportal/aGpKpuxoGfZqJobMPLvj.svg">
                        <span class="logo-text">TangLess</span>
                    </a>
                </div>
                <div class="nav pull-right">
                    <ul id="J_nav" class="clearfix nav-list">
                        <li id="demo" class="nav-item">
                            <a class="nav-item-link" href="../index.html">项目</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../index.html">示例</a></li>
                                <li class="nav-sub-item"><a href="../index.html">API</a></li>
                                <li class="nav-sub-item"><a href="../index.html">图灵</a></li>
                            </ul>
                        </li>
                        <li id="note" class="nav-item hover">
                            <a class="nav-item-link" href="../note/index.html">笔记</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../note/index.html">javascript</a></li>
                                <li class="nav-sub-item"><a href="../note/index.html">web</a></li>
                                <li class="nav-sub-item"><a href="../note/index.html">java</a></li>
                            </ul>
                        </li>
                        <li id="userCenter" class="nav-item last">
                            <a class="nav-item-link" href="../userCenter/index.html">个人中心</a>
                            <ul class="nav-sub-list fadeUp">
                                <li class="nav-sub-item"><a href="../userCenter/index.html">介绍</a></li>
                                <li class="nav-sub-item"><a href="../userCenter/index.html">网站备案</a></li>
                                <li class="nav-sub-item"><a href="../userCenter/index.html">模板下载</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="note">
        <div class="left-nav">
            <p class="title">笔记</p>
            <ul class="left-nav-list">
                <li class="note-menu">
                        <div class="menu-title ">javascript</div>
                            <ul class="menu-list" style="display: block;">
                            <li class="active">
                                <a href="../note/index.html">G2</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/chart.html">Chart</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/view.html">View</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/geom.html">Geom</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/scale.html">Scale</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/stat.html">Stat</a>
                            </li>
                            </ul>
                </li>
                <!---->
                <li class="note-menu">
                    <div>
                        <div class="menu-title ">web</div>
                            <ul class="menu-list" style="display: none;">
                            <li class="">
                                <a href="../../g2/api/index.html">gulp</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/chart.html">git</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/view.html">node</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/geom.html">vue</a>
                            </li>
                            <li class="">
                                <a href="../../g2/api/scale.html">webpack</a>
                            </li>
                            </ul>
                    </div>
                </li>
                <!---->
                <li class="note-menu">
                    <a href="/g2/doc/history.html">java</a>
                </li>
            </ul>
        </div>
        <div class="right-content"></div>
    </div>

</body>
<script>
    $('.note-menu').each(function (i, o){
        var that=$(this);
        that.find(".menu-title").on('click',function(i){
            that.find(".menu-list").slideToggle();
            console.log( $(this).find(".menu-list"))
        });
    })
</script>
</html>